.introduces {
  .a {
    margin: 0;

  } .a_a, .a .b {}
  .a {
    .i-t-s {
      display: block;
    }
    &.i-t-s {
      display: flex;
    }
  } .a.i-t-s, .a-t-s {
      display: inline;
  } .a {
  }
}
