h1 {
	margin: 0.5rem 0;
	font-size: 20px;
}
main {
	display: flex;
	justify-content: space-between;
}
textarea {
	width: calc((100% - 1rem) / 2);
	height: calc(100vh - 4rem);
	font-size: 14px;
}
#result {
	background-color: #eee;
}
